header {
    text-align: center;
    background-color: #f2f2f2;
    padding: 20px;
}

/* Estilo para o menu de navegação */
nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Estilo para as seções */
section {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
}

/* Estilo para o rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0; /* Adiciona um espaçamento de 20 pixels apenas na parte superior e inferior do rodapé */
    margin-top: 20px; /* Adiciona um espaço entre a última seção e o rodapé */
}

